<html>
    <head>
        <link type="text/css" rel="stylesheet" href="{{ settings.STATIC_URL }}/css/main.css" />
    </head>
    <body>
        <ul>
            {% for shop in shops %}
            <li>
                <a href="{{ shop.get_taobao_url }}">{{ shop.name }}</a>
                - {{ shop.get_taobao_url }}
            </li>
            {% endfor %}
        </ul>
        <form action="/submit" method="post">
            <label>
                Taobao Url:
                <input type="text" name="url" cols="100">
                <input type="submit" value="Submit">
            </div>
        </form>
    </body>
</html>
